<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Books</title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
</head>
<body>
    <div class="container" id="app">
        <div class="row">
            <h1>V-MODEL</h1>
            <h3>{{hello}}</h3>
            <input type="text" name="txt" id="txt" v-model="hello">
        </div>
        <div class="row">
            <h1>V-FOR</h1>
            <ul>
                <li v-for="pessoa in pessoas">{{pessoa}}</li>
            </ul>
        </div>
        <div class="row">
            <h1>V-ON</h1>

            <input type="text" class="form-control" v-model="novoElemento" v-on:keyup.enter="addElemento" >
            <ul>
                <li v-for="elemento in elementos">
                    {{elemento}}
                    <a href="#" v-on:click="removeElemento($event, $index)">x</a>
                </li>

            </ul>
        </div>

        <div class="row">
            <h1>V-MODEL</h1>

            <div class="form-group">
                <input type="text" class="form-control" v-model="myForm.name" placeholder="Nome">
            </div>

            <div class="form-group">
            <input type="text" class="form-control" v-model="myForm.email" placeholder="E-mail">
            </div>

            <button class="btn btn-primary" @click="addListForm">Add</button>

            <ul>
                <li v-for="myList in myListForm">
                    {{myList.name}} - {{myList.email}}
                    <a href="#" @click="removeListForm($event, $index)">x</a>
                </li>

            </ul>
        </div>

    </div>
</body>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="js/app.js"></script>
</html>